<!--The content below is only a placeholder and can be replaced.-->
<div class='viewer-container'>
  <div class='toolbar'>
    <button (click)="previousPage()" [disabled]="page < 2">Previous</button>
    <button (click)="nextPage()" [disabled]="page == totalPages">Next</button>
    <button (click)="zoomOut()">-</button>
    <button (click)="zoomIn()">+</button>
  </div>
  <div>
    <div id="main-container" class="canvas-container">
      <canvas class="pdf-canvas" #pdf></canvas>
    </div>
  </div>
</div>

